name: kd job
#trigger point
on:
  push:
    branches: ["main"]
    paths-ignore:
      - "REDME.md"
      - "terraform.tfstate"

# jobscreating jobs
jobs:
  infra-deploy-job:
    runs-on:  ubuntu-latest
    steps:
# calling for github action to clone my local branch
    - name: taking code from my repo
      uses: actions/checkout@v5
      with:
        ref: main
#installing tearraform
    - name: installing terraform
      uses: hashicorp/setup-terraform@v3

    - name: testing github actions
      run:  |
        echo "Hello World"
        git version
        whoami
        ls -a
        terraform version
#configure aws secret keys 
    - name: connecting to aws account
      uses: aws-actions/configure-aws-credentials@v4
      with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY_ID }}
            aws-region: ap-southeast-2 # Replace with your desired AWS region
    - name: checking connection
      run: aws s3 ls
    - name: deploy terraform resources
      run: |
        echo "implementing terraform resources"
        terraform init
        terraform plan -lock=false
        sleep 2
        terraform apply -lock=false --auto-approve
    - name: Upload text file as artifact
      uses: actions/upload-artifact@v4
      with:
          name: kd-text-artifact
          path: |
            modules/ec2/ansible-inventory.txt
            modules/ec2/kd-key.pem

  infra-configure-job:
    needs: infra-deploy-job 
    runs-on:  ubuntu-latest
    steps:
# calling for github action to clone my local branch
    - name: taking code from my repo
      uses: actions/checkout@v5
      with:
        ref: main
        sparse-checkout: |
          kd-ansible
    - name: verify artifact
      run: ls -R
# downloading articats for ansible
    - name: downloading articats
      uses: actions/download-artifact@v4
      with:
        name: kd-text-artifact
#display artifacts
    - name: listing artifacts
      run: ls -R
# installing ansible
    - name: installing ansible
      run: |
        echo "installling ansible"
        sudo apt update
        sudo apt install ansible -y
        ansible --version
    - name: running ansible playbook in dynamic inventory
      run: |
        echo "running ansible playbook"
        chmod 400 kd-key.pem
        cd kd-ansible
        ansible-playbook -i ../ansible-inventory.txt --private-key ../kd-key.pem playbook1.yaml
# #installing tearraform
#     - name: installing terraform
#       uses: hashicorp/setup-terraform@v3

#     - name: testing github actions
#       run:  |
#         echo "Hello World"
#         git version
#         whoami
#         ls -a
#         terraform version
# #listing artifacts
#     - name: listing articats
#       run:  ls -R
#     - name: destroying terraform resources
#       run:  |
#           echo "checking resources"
#           terraform init
#           terraform plan -lock=false
#           sleep 2
#           terraform destroy -lock=false --auto-approve

