name: kd job
#trigger point
on:
  push:
    branches: ["main"]
    paths-ignore:
      - "REDME.md"
      - "terraform.tfstate"

# jobscreating jobs
jobs:
  test-job:
    runs-on:  ubuntu-latest
    steps:
# calling for github action to clone my local branch
    - name: taking code from my repo
      uses: actions/checkout@v5
      with:
        ref: main
#installing tearraform
    - name: installing terraform
      uses: hashicorp/setup-terraform@v3

    - name: testing github actions
      run:  |
        echo "Hello World"
        git version
        whoami
        ls -a
        terraform version
