name: kd job
#trigger point
on:
  push:
    branches: ["main"]
    paths-ignore:
      - "REDME.md"
      - "terraform.tfstate"

# jobscreating jobs
jobs:
  infra-deploy-job:
    runs-on:  ubuntu-latest
    steps:
# calling for github action to clone my local branch
    - name: taking code from my repo
      uses: actions/checkout@v5
      with:
        ref: main
#installing tearraform
    - name: installing terraform
      uses: hashicorp/setup-terraform@v3

    - name: testing github actions
      run:  |
        echo "Hello World"
        git version
        whoami
        ls -a
        terraform version
#configure aws secret keys 
    - name: connecting to aws account
      uses: aws-actions/configure-aws-credentials@v4
      with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY_ID }}
            aws-region: ap-southeast-2 # Replace with your desired AWS region
    - name: checking connection
      run: aws s3 ls
    - name: deploy terraform resources
      run: |
        echo "implementing terraform resources"
        terraform init
        terraform plan -lock=false
        sleep 2
        terraform apply -lock=false --auto-approve

  infra-destroy-job:
    needs: infra-deploy-job 
    runs-on:  ubuntu-latest
    steps:
# calling for github action to clone my local branch
    - name: taking code from my repo
      uses: actions/checkout@v5
      with:
        ref: main
#installing tearraform
    - name: installing terraform
      uses: hashicorp/setup-terraform@v3

    - name: testing github actions
      run:  |
        echo "Hello World"
        git version
        whoami
        ls -a
        terraform version
#configure aws secret keys 
    - name: connecting to aws account
      uses: aws-actions/configure-aws-credentials@v4
      with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY_ID }}
            aws-region: ap-southeast-2 # Replace with your desired AWS region
    - name: checking connection
      run: aws s3 ls
    - name: destroying terraform resources
      run:  |
          echo "checking resources"
          terraform init
          terraform plan -lock=false
          sleep 2
          terraform destroy -lock=false --auto-approve

